div.styleChanger {
  position: fixed;
  bottom: 40px;
  left: 30px;
  z-index: 1;
}

div.StyleChanger button {
  background-color: white;
  appearance: none;
  border: none;
  font-family: inherit;
  padding: 5px 10px 5px 10px;
  margin: 0 1px 0 0;
  color: #999999;
}

div.StyleChanger button.selected {
  color: black;
}
